body {
    background-color: #003E80;
}

.yt {
    border-radius: 55px;
    max-width: 660px;
}

iframe {
    max-width: 100%;
}

footer {
    margin-top: 10px;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.ic-slider img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.poy-oz {
    padding: 25px;
}

article {
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}

.ic-slider {
    border: 5px solid black;
    background-color: black;
}