body {
    background-image: linear-gradient(rgba(8, 88, 174, 0.7), rgba(8, 88, 174, 0.5)), url(../img/iletisim.jpg);
    background-size: cover;
    background-position: center;
}

#form-ust {
    border-radius: 35px 35px 0 0;
}

.form-genel {
    background-color: #bfcfff;
    border-radius: 45px 45px;
}

textarea {
    width: 100%;
    height: 100%;
    border: 0;
    border-top: 1px dotted #003E80;
    background-color: #bfcfff;
}

#form-alt {
    border-radius: 0 0 35px 35px;
}

.table-top th {
    color: #003E80;
}

.table-cerceve {
    border-radius: 25px;
    border: 6px inset #003E80;
    background-color: #bfcfff;
    padding: 100px;
    margin-top: 50px;
}